@using EntityLayer.Concrete
@model List<Blog>
@{
    ViewData["Title"] = "BlogListByWriter";
    Layout = "~/Views/Shared/WriterLayout.cshtml";
}

<h1>BlogListByWriter</h1>

<table class="table table-bordered">
    <tr>
        <th></th>
        <th>BlogTitle</th>
        <th>CreateDate</th>
        <th>Categori</th>
        <th>Status</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.BlogId</td>
            <td>@item.BlogTitle</td>
            <td>@item.BlogCreateDate.ToString("dd-MMM-yyyy")</td>
            <td>@item.Category.CategoryName</td>
            <td>
                @if (item.BlogStatus)
                {<span class="badge badge-success">Aktif</span>}
                else
                { <span class="badge badge-danger">Pasif</span>}
        </td>

        <td><a href="/Blog/BlogEdit/@item.BlogId" class="btn btn-warning">Edit</a></td>
        <td><a href="/Blog/BlogDelete/@item.BlogId" class="btn btn-danger">Delete</a></td>
    </tr>
}
</table>
<a href="#" class="btn btn-primary"> Create New Blog</a>
