<div class="comment-top">
    <h4>Leave a Comment</h4>
    <div class="comment-bottom">
        <form action="/Comment/PartialAddComment/" method="post" id="commentForm">
            <input  type="text" name="CommentUserName" placeholder="CommentUserName" required="">
            <input  type="text" name="CommentTitle" placeholder="CommentTitle" required="">
            <textarea  name="CommentContent" placeholder="Message..." required=""></textarea>            
            <button type="submit" class="btn btn-primary submit">Submit</button>
        </form>
    </div>
</div>
<script>
    $(function () {
        $("#commentForm").submit(function (event) {
            event.preventDefault(); //burada tıklanınca post işlemi yapmasın diye önlem alıyoruz
            var post_url = $(this).attr("action"); //formun urlsi alınıyor
            var request_method = $(this).attr("method"); //formun metodu alınıyor
            var form_data = $(this).serialize(); //formun datası alınıyor

            $.ajax({
                url: post_url,
                type: request_method,
                data: form_data
            }).done(function (response) { //
                swal("Success");
            });
            document.querySelector("#commentForm").reset();
            $('#BlogComments').load(' #BlogComments')
        });
    })

</script>